	#hh{
		float: left;
		text-align: center;
		font-size: 35vh;
		color: white;
	}
	#mm{
		float: left;
		text-align: center;
		font-size: 35vh;
		color: white;
	}
	#ss{
		float: left;
		text-align: center;
		font-size: 35vh;
		color: white;
	}
	.colon{
		float: left;
		text-align: center;
		font-size: 35vh;
		color: white;
	}
	#clocks{
		margin: 0 auto;
		border: solid 3px black;
		width: 70vw;
		height: 50vh;
		text-align: center;
		display: none;
		border-radius: 15px;
		position: relative;
			}
	#closeBtn{
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 1);
			font-weight: bold;
			text-align: center;
			position: absolute;
			right: -30px;
			top: -20px;
			font-size: 17pt;
			font-family: sans-serif;
		}
